/* You can add global styles to this file, and also import other style files */
svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
  }

  .axis path,
  .axis line {
    stroke: #000;
  }
 
  path.domain {
    stroke: #000;
  }
 
  .y .tick line {
    stroke: #000;
  }

 